# Verification Report 



## Unit-Level Tests

### GPIO

#### Random Constrained Wave Output
<img src="pics/GPIO_wave.png" alt="drawing" width="600"/>

#### Formal Verification
<img src="pics/GPIO_Formal.png" alt="drawing" width="400"/>

#### Coverage Report for RTL GPIO_Parity.sv
<img src="pics/GPIO_Coverage.png" alt="drawing" width="200"/>

### VGA DLS

## Top-Level Tests

### GPIO

### VGA

